<section class="principal">
  <h1>Conversor de Números Romanos a Decimales</h1>

  <div class="input-group">
    <input type="text" [ngClass]=" romanControl.touched && !!romanControl.errors ? 'error' : ''"
      placeholder="I, II, MMXX,..." id="roman-num" [formControl]="romanControl"
      pattern="^M{0,4}(CM|CD|D?C{0,3})(XC|XL|L?X{0,3})(IX|IV|V?I{0,3})$">
    <label [ngClass]=" romanControl.touched && !!romanControl.errors ? 'error' : ''" for="roman-num">Introduce un número
      romano</label>
    <button (click)="convert()">Convertir</button>
  </div>

  <div class="historial">
    <p *ngFor="let num of historial" @fadeIn>{{num.roman}} = {{num.decimal}}</p>
  </div>

  <div class="alert" *ngIf="showAlert" @fadeIn @fadeOut>
    <p>El número romano {{roman}} en decimal es {{decimal}}</p>
    <button (click)="showAlert = false">X</button>
  </div>
</section>